tmp*

# sottopone a versioning soltanto dati comunali
/dati/rawdata/Limiti01012020_g/*
!/dati/rawdata/Limiti01012020_g/Com01012020_g

# sottopone a versioning soltanto il file qgs
*.qgs~

# rimuovi momentaneamente cartella output di bash
dati/arigadicomando/test/*

dati/arigadicomando/output_noreg/*.json
