affine==2.3.0
aiohttp==3.6.2
alabaster==0.7.8
appdirs==1.4.4
apsw==3.28.0.post1
apturl==0.5.2
asn1crypto==1.4.0
astroid==2.4.2
async-generator==1.10
async-timeout==3.0.1
asyncio==3.4.3
atomicwrites==1.4.0
attrs==19.3.0
autoscraper==1.0.0
awscli==1.18.111
Babel==2.8.0
backcall==0.2.0
bcrypt==3.1.7
beautifulsoup4==4.9.1
bleach==3.2.1
blinker==1.4
blosc==1.8.1
bokeh==2.2.3
boto3==1.13.14
botocore==1.17.22
Bottleneck==1.2.1
Brlapi==0.7.0
bs4==0.0.1
Cartopy==0.18.0
centerline==0.6.3
certifi==2020.4.5.1
chardet==3.0.4
chrome-gnome-shell==0.0.0
click==7.1.2
click-plugins==1.1.1
cligj==0.5.0
cloudpickle==1.3.0
colorama==0.4.3
colorcet==2.0.2
command-not-found==0.3
commonmark==0.9.1
ConfigArgParse==0.13.0
configobj==5.0.6
contextily==1.0.1
cryptography==3.0
css-parser==1.0.4
cssselect==1.1.0
cssutils==1.0.2
cupshelpers==1.0
cycler==0.10.0
dask==2.11.0+dfsg
datashader==0.11.1
datashape==0.5.2
dbus-python==1.2.16
decorator==4.4.2
defer==1.0.6
defusedxml==0.6.0
descartes==1.1.0
devscripts===2.20.4ubuntu3
distlib==0.3.1
distributed==2.30.1
distro==1.5.0
distro-info===0.23ubuntu1
dnspython==1.16.0
docutils==0.16
duplicity==0.8.12.0
ecdsa==0.15
entrypoints==0.3
et-xmlfile==1.0.1
evdev==1.3.0
fake-useragent==0.1.11
fasteners==0.14.1
feedparser==5.2.1
filelock==3.0.12
Fiona==1.8.13.post1
folder-color-common==0.0.86
fsspec==0.6.1
future==0.18.2
GDAL==3.1.3
gdal2tiles-leaflet==0.2.0
geographiclib==1.50
geojson==2.5.0
geojson2vt==1.0.1
geopandas==0.7.0
geopy==2.0.0
geoviews==1.8.1
GoogleScraper==0.2.4
gpg===1.14.0-unknown
gyp==0.1
HeapDict==1.0.1
holoviews==1.13.5
html2text==2020.1.16
html5-parser==0.4.9
html5lib==1.1
httplib2==0.18.1
idna==2.10
ifaddr==0.1.6
imageio==2.4.1
imagesize==1.2.0
importlib-metadata==1.6.0
ipykernel==5.3.4
ipython==7.17.0
ipython-genutils==0.2.0
ipywidgets==6.0.0
isort==5.4.2
jdcal==1.0
jedi==0.17.0
jeepney==0.4.3
Jinja2==2.11.2
jmespath==0.10.0
joblib==0.14.0
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==6.1.7
jupyter-console==6.1.0
jupyter-core==4.6.3
jupyter-sphinx-theme==0.0.6
jupyterlab-pygments==0.1.2
kazam==1.4.5
keyring==21.3.0
keyrings.alt==3.4.0
kiwisolver==1.2.0
language-selector==0.1
latexcodec==1.0.7
launchpadlib==1.10.13
lazr.restfulclient==0.14.2
lazr.uri==1.0.5
lazy-object-proxy==1.5.1
libvirt-python==6.1.0
llvmlite==0.34.0
locket==0.2.0
lockfile==0.12.2
logilab-common==1.7.2
louis==3.14.0
lxml==4.5.2
macaroonbakery==1.3.1
Mako==1.1.2
mapnik==3.0.23
MapProxy==1.12.0
Markdown==3.2.2
MarkupSafe==1.1.1
matplotlib==3.3.0
mccabe==0.6.1
mechanize==0.4.5
meld==3.20.2
mercantile==1.1.6
mercurial==5.5.1
mistune==0.8.4
mock==4.0.2
monotonic==1.5
more-itertools==4.2.0
msgpack==0.6.2
multidict==4.7.5
multipledispatch==0.6.0
munch==2.5.0
mypy-extensions==0.4.3
nbclient==0.5.0
-e git+https://github.com/jupyter/nbconvert.git@f66ec517275f7c61bb5a36a5d3496ba73005d659#egg=nbconvert
nbformat==5.0.7
nbsphinx==0.4.3
nest-asyncio==1.4.1
netifaces==0.10.4
networkx==2.4
nltk==3.5
nose==1.3.7
notebook==6.0.3
numba==0.51.2
numexpr==2.7.1
numpy==1.18.2
numpydoc==1.1.0
oauth==1.0.1
oauthlib==3.1.0
odfpy==1.4.1
olefile==0.46
opencv-python==4.2.0.32
openpyxl==3.0.3
openshot-qt==2.5.1
OWSLib==0.20.0
packaging==20.4
pandas==1.0.5
pandocfilters==1.4.2
panel==0.10.2
param==1.10.0
paramiko==2.7.1
parso==0.7.0
partd==1.0.0
Paste==3.4.3
PasteDeploy==2.1.0
PasteScript==2.0.2
pbr==5.4.5
pexpect==4.6.0
pickleshare==0.7.5
Pillow==8.0.1
plotly==4.9.0
pluggy==0.13.0
prometheus-client==0.7.1
prompt-toolkit==3.0.6
protobuf==3.12.3
psutil==5.7.2
psycopg2==2.8.5
py==1.9.0
pyasn1==0.4.8
pybtex==0.22.2
pybtex-docutils==0.2.1
pycairo==1.16.2
pychm==0.8.6
pycodestyle==2.6.0
pycrypto==2.6.1
pycryptodomex==3.9.7
pyct==0.4.6
pycups==2.0.1
pyfakewebcam==0.1.0
pyflakes==2.2.0
Pygments==2.7.1
PyGObject==3.38.0
PyJWT==1.7.1
pylint==2.5.3
pymacaroons==0.13.0
PyMySQL==0.9.3
PyNaCl==1.4.0
pyOpenSSL==19.1.0
pyparsing==2.4.7
pyproj==2.6.1
PyQt5==5.15.0
PyQtWebEngine==5.15.0
pyRFC3339==1.1
pyrsistent==0.15.5
pyshp==2.1.2
pysvn==1.9.12
pyte==0.8.0
pytest==4.6.11
python-apt==2.1.3+ubuntu1.2
python-dateutil==2.8.1
python-debian==0.1.37
python-magic==0.4.16
python-xapp==2.0.1
python-xlib==0.27
pytz==2020.1
pyudev==0.21.0
pyviz-comms==0.7.6
PyWavelets==1.1.1
pyxdg==0.26
PyYAML==5.3.1
pyzmq==19.0.2
QtAwesome==0.4.4
qtconsole==4.7.6
QtPy==1.9.0
rasterio==1.1.8
read-protobuf==0.1.1
recommonmark==0.6.0
redis==3.3.11
regex==2019.8.19
reportlab==3.5.47
repoze.lru==0.7
requests==2.23.0
requests-unixsocket==0.2.0
retrying==1.3.3
roman==2.0.0
rope==0.17.0
Routes==2.4.1
rsa==4.0
Rtree==0.9.4
s3transfer==0.3.3
scikit-image==0.17.2
scikit-learn==0.23.2
scipy==1.5.2
scour==0.37
SecretStorage==3.1.2
selenium==3.141.0
Send2Trash==1.5.0
setproctitle==1.1.10
Shapely==1.7.1
simplejson==3.17.0
sip==4.19.24
six==1.15.0
snuggs==1.4.7
sortedcollections==1.0.1
sortedcontainers==2.1.0
soupsieve==2.0.1
Sphinx==3.2.1
sphinx-bootstrap-theme==0.7.1
sphinxcontrib-bibtex==1.0.0
spyder==3.3.6
spyder-kernels==0.5.2
SQLAlchemy==1.3.16
system-service==0.3
systemd-python==234
tables==3.6.1
tblib==1.7.0
Tempita==0.5.2
terminado==0.8.2
testpath==0.4.4
tifffile==2020.5.11
TLPUI==0.1
toml==0.10.1
toolz==0.9.0
tornado==6.0.4
tqdm==4.53.0
traitlets==4.3.3
typing-extensions==3.7.4.3
ubuntu-advantage-tools==24.4
ubuntu-drivers-common==0.0.0
ufw==0.36
unattended-upgrades==0.1
unidiff==0.5.5
urllib3==1.25.9
usb-creator==0.3.7
variety==0.8.4
virtualenv==20.0.29+ds
visidata==1.5.2
wadllib==1.3.4
wcwidth==0.1.9
webencodings==0.5.1
WebOb==1.8.6
widgetsnbextension==2.0.0
wrapt==1.11.2
xarray==0.16.1
xkit==0.0.0
xlrd==1.1.0
xlwt==1.3.0
yarl==1.4.2
zeroconf==0.26.1
zict==2.0.0
zipp==1.0.0
zope.interface==4.7.1
